<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="framework.Prog1"/>
       <class name="framework.P2"/>
        <class name="framework.P3"/>
         <class name="framework.P5"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Product">
	  <classes><class name="ecommerce.Product">
		  <methods><exclude name="tv"/> </methods>
	  </class>	  </classes>
	  </test>
</suite> <!-- Suite -->
